pandas
numpy
pyyaml
pydantic
requests
idna==3.15
python-dotenv
google-generativeai
click
rich
linkedin-jobs-scraper
selenium
beautifulsoup4
browser_cookie3
questionary
python-docx
python-pptx
Pillow==11.3.0
pdfminer.six
pypdf==6.15.0
odfpy
openpyxl
